@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Poppins:wght@200&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

body {
  font-family: "poppins", sans-serif;
}

.portfolio {
  perspective: 1000px;
  width: 500px;
}
.portfolio span {
  cursor: pointer;
  display: inline-block;
  user-select: none;
}

.portfolio span {
  position: relative;
  display: inline-block;
}

.portfolio span:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.portfolio span:hover:before,
.portfolio span.active:before {
  transform: scaleX(1);
}

.portfolio span:not(:last-child):after {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 20px;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0.3s;
}

.portfolio span:hover:after,
.portfolio span.active:after {
  transform: scaleY(1);
}

.portfolio span:nth-child(1) {
  animation: fall 0.4s ease-out forwards;
}

.portfolio span:nth-child(2) {
  animation: fall 0.4s ease-out 0.2s forwards;
}

.portfolio span:nth-child(3) {
  animation: fall 0.4s ease-out 0.3s forwards;
}

.portfolio span:nth-child(4) {
  animation: fall 0.4s ease-out 0.4s forwards;
}

.portfolio span:nth-child(5) {
  animation: fall 0.4s ease-out 0.5s forwards;
}

.portfolio span:nth-child(6) {
  animation: fall 0.4s ease-out 0.6s forwards;
}

.portfolio span:nth-child(7) {
  animation: fall 0.4s ease-out 0.7s forwards;
}

.portfolio span:nth-child(8) {
  animation: fall 0.4s ease-out 0.8s forwards;
}

.portfolio span:nth-child(9) {
  animation: spin 5s ease-out 1s infinite;
  /* animation-delay: 1600ms; */
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotateZ(-20deg);
    opacity: 0;
    color: red;
  }
  20% {
    transform: translateY(-50px) rotateZ(-10deg);
    opacity: 1;
    color: white;
  }
  80% {
    transform: translateY(0) rotateZ(0);
    opacity: 1;
    color: white;
  }
  98% {
    transform: scale(2.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
    color: black;
  }
  20% {
    color: black;
  }
  30% {
    color: rgb(7, 199, 252);
  }

  50% {
    transform: rotateY(180deg);
    color: white;
  }
  70% {
    color: white;
  }
  85% {
    color: rgb(7, 216, 253);
  }
  95% {
    color: rgb(74, 64, 64);
  }
  100% {
    transform: rotateY(-360deg);
    color: black;
  }
}

.logo a {
  font-size: 3rem;
}

.nav-link a {
  transition: 0.3s ease;
}

.nav-link a:hover,
.nav-link a.active {
  color: var(--main-color);
}

/* intro anim */

.btn {
  /* background-color: var(--main-color); */
  position: relative;
}

.social-icon {
  position: relative;
}

.social-icon a {
  width: 3.5rem;
  border: 2px solid rgb(3, 243, 243);
  box-shadow: 0 2px 4px rgb(3, 243, 243);

  border-radius: 50%;
  margin: 0 0.8rem;
  height: 3.5rem;
  transform: translateY(0) scale(1);

  transition: 0.2s ease-in-out;
}

.social-icon:hover a {
  transform: translateY(-4px) scale(1.1);
}

.social-icon:nth-child(1):hover a {
  background-color: #33508f;
}
.social-icon:nth-child(2):hover a {
  background-color: #9c177f;
}
.social-icon:nth-child(3):hover a {
  background-color: #1da1f2;
}
.social-icon:nth-child(4):hover a {
  background-color: #0a66c2;
}
.social-icon:nth-child(5):hover a {
  background-color: black;
}

.social-icon span {
  color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.social-icon:hover span {
  transform: translate(-50%, 140%) scale(1);
  transition: 0.3s ease;
  z-index: 1;
}
.social-icon:nth-child(1):hover span {
  color: #33508f;
}
.social-icon:nth-child(2):hover span {
  color: #9c177f;
}
.social-icon:nth-child(3):hover span {
  color: #1da1f2;
}
.social-icon:nth-child(4):hover span {
  color: #0a66c2;
}
.social-icon:nth-child(5):hover span {
  color: white;
}

.btn.btn-slide {
  border: 4px solid rgb(3, 243, 243);
  --border-size: 4px;
  --border-radius: 20rem;
  color: var(--main-color);
}

.btn.btn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.btn.btn-slide:hover {
  z-index: 1;
}
.btn.btn-slide:hover::before,
.btn.btn-slide:focus::before {
  transform: scaleX(1);
  color: black;
  z-index: -1;
  transition: transform 0.3s ease;
  border-radius: var(--border-radius);
}

.box {
  position: relative;
  width: 600px;
  height: 600px;
}
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("./assets/test-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
}
.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}
.hover-point:nth-child(1):hover ~ .box-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(2deg) rotateY(-2deg) rotateZ(2deg);
}
.hover-point:nth-child(2):hover ~ .box-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}
.hover-point:nth-child(3):hover ~ .box-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.hover-point:nth-child(4):hover ~ .box-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.hover-point:nth-child(5):hover ~ .box-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}
.hover-point:nth-child(6):hover ~ .box-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.hover-point:nth-child(7):hover ~ .box-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}
.hover-point:nth-child(8):hover ~ .box-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

/* //right and bottom box shadow for .second-abt-1 */
.second-abt-1 {
  box-shadow: 8px 8px 8px 0px rgb(9, 9, 9);
  border-radius: 10px;
}
.skills-container .skills {
  flex: 1 1 25rem;
  background-color: var(--main-color);
  box-shadow: 0 4px 4px 0 rgb(3, 243, 243);
  transition: 0.3s ease-in-out;
}
.skills {
  margin: 2rem;
}
.skills i {
  font-size: 3rem;
}
.skills h3 {
  font-size: 1.8rem;
}
.skills a span {
  box-shadow: 0 2px 6px 0 rgb(3, 243, 243);
}
.skills:hover {
  box-shadow: 2px 10px 16px rgba(0, 0, 0, 0.3);
  border: 3px solid var(--second-bg-color-color);
  transform: translateY(-10px) scale(1.05);
  transition: all 0.2s ease-in-out;
}
.skills:hover i {
  color: white;
}
.skills:hover h3 {
  color: var(--main-color);
  font-size: 1.9rem;
  font-weight: 600;
}

.btn-arrow {
  box-shadow: 0px 4px 8px rgb(39, 5, 233);
}

.boun {
  animation: bonce 2s ease-in-out infinite;
}

@keyframes bonce {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  10% {
    transform: translateY(0%);
    opacity: 1;
  }
  90% {
    transform: translateY(240%);
    opacity: 0;
  }
  100% {
    transform: translateY(240%);
    opacity: 0;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
  margin: 2.2rem 10rem;
}

.projects-container .projects-recent {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 var(--main-color);
}

.projects-recent img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.projects-recent:hover img {
  transform: scale(1.2);
}

.projects-recent .span-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: line;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.projects-recent:hover .span-layer {
  transform: translateY(0);
}
.span-layer h3 {
  font-family: varela;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.span-layer p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
.span-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border: var(--text-color);
  border-radius: 50%;
}
.span-layer a i {
  font-size: 1.7rem;
  color: var(--second-bg-color);
}
.tit {
  position: relative;
}
.tit-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/webBg3.jpg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(4px); /* This adds a 10px blur effect */
  /* z-index: -1; */
}

.tit-bg {
  position: absolute;
  width: 55%;
  height: 50%;
  /* background-image: url("./assets/img5.jpg"); */
  z-index: -3;
  transform: skewY(-4deg);
}

.greet {
  font-size: 6rem;
  font-weight: 600;
}

.greet span {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.greet span:hover {
  animation: bounce 0.7s 1;
  color: var(--main-color);
}

@keyframes bounce {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.6) scaleX(0.9);
  }
  70% {
    transform: scaleY(1.1) scaleX(1.1);
  }
  85% {
    transform: scaleY(0.8) scaleX(1);
  }
  90% {
    transform: scaleY(1.05) scaleX(1.05);
  }
}

.M {
  text-shadow: -6px 0px 2px var(--main-color);
}


.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.photos .photo {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}
.photo img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.photo:hover img{
  transform: scale(1.2);
}

.photo .photo-layer {
  position: absolute;
  font-size: 10px;
  border-radius: 50%;
  background: line;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.photo:hover .photo-layer,
.photo:hover {
  opacity: 1;
}

@media screen and (min-width: 320px) {
  .photos {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 640px) {
  .photos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 768px) {
  .photos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 990px) {
  .photos {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1225px) {
  .photos {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}


.snd.send-msg{
  position: relative;
}


.snd.send-msg::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--main-color);
  z-index: -1;
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;

}
.snd.send-msg{
  z-index: 1;
}

.snd.send-msg:hover::before,
.snd.send-msg:focus::before {
  transform: scaleX(1);

}

 
 